/* NAVBAR AND FOOTER STYLING */
nav {
background-color: rgba(255, 255, 255, 0.75);
backdrop-filter: blur(2.5px);
position: fixed;
top: 0;
left: 0;
z-index: 1;
overflow: hidden;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
height: 10vh;
list-style: none;
}

#ul, .li, .nav {
list-style: none;
margin-right: 20px;
text-decoration: none;
color: #3266fb;
display: inline-block;
}

.nav:hover {
color: #001fff;
}


footer {
position: fixed;
bottom: 0;
right: 0;
z-index: 1;
overflow: hidden;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
height: 9vh;
padding: 5px;
color: #000000;
}

button {
border-radius: 10px;
padding: 10px;
background-color: rgba(255, 255, 255, 0.5);
width: 100%;
height: 75%;
font-family: inherit;
font-size: inherit;
display: flex;
justify-content: center;
align-items: center;
transition: box-shadow ease-out 0.3s;
border-style: none;
}

button:hover {
box-shadow: 0px 0px 15px 2px black;
}

#child-container-in-footer {
margin: 10px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: auto;
width: 100%;
text-align: center;
align-items: center;
}
/* NAVBAR AND FOOTER STYING */



/* CONTENT STYLING */
body {
margin: 10vh 1vw 10vh 1vw;
font-family: Segoe UI;
font-size: 2.1vh;
background-attachment: fixed;
color: #FFFFFF;
overflow-x: hidden;
background-size: cover; 
background-position: center;
}

#heading {
font-size: 4vh;
font-weight: bold;
}

#info {
display: flow-root;
background-color: rgba(255, 255, 255, 0.75);
backdrop-filter: blur(7.5px);
padding: 30px;
border-radius: 10px;
margin: 0px;
color: black;
height: auto;
}

img {
float: right;
}

li {
list-style: disc;
color: #FFFFFF;
}

.level-one {
font-weight: 800;
font-size: 2.75vh;
}

.level-two {
font-weight: 600;
font-size: 2.5vh;
}

.level-three {
font-weight: 400;
font-size: 2.25vh;
}

.div-level-two {
margin-left: 20px;
}

.bolden {
font-weight: 600;
}

a {
color: #000000;
text-decoration: none;
}

table {
border-collapse: separate;
border-radius: 10px;
border: none;
border-spacing: 0;
background-color: rgba(255, 255, 255, 0.75);
color: black;
margin: 10px;
backdrop-filter: blur(2.5px);
float: none;
width: 98%;
}

th, td {
border: solid 0.5px black;
padding: 10px;
}

div.UI-Screenshots {
display: flex;
background-color: rgba(255, 255, 255, 0.75);
align-items: center;
border-radius: 10px;
flex-wrap: wrap;
justify-content: space-around;
color: black;
}

figure.UI-Screenshots {
display: flex;
padding: 10px;
flex-direction: column;
background-color: rgba(255, 255, 255, 0.75);
align-items: center;
border-radius: 10px;
color: black;
}

img.UI-Screenshots {
border-radius: 10px;
}

figcaption {
color: black;
padding-top: 15px;
}
/* CONTENT STYLING */



/* HOMEPAGE STYLING */
.macver {
justify-content: center;
align-content: center;
margin: 1vh;
padding: 3vh;
border-radius: 10px;
height: 12vh;
background-position: center center;
display: grid; 
transition: filter, box-shadow ease-out 0.3s, height ease 0.2s;
}

.macver:hover {
filter: brightness(160%);
box-shadow: 0px 0px 15px 5px black;
height: 15vh;
}

.macref {
text-decoration: none;
color: #FFFFFF;
}

#homeContainer {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto;
margin: 10px;
height: 90%;
}

/* HOMEPAGE STYLING */



/* MOBILE-FRIENDLY MEDIA QUERY */
@media (max-width: 1440px) and (min-resolution: 300 dpi){
#homeContainer {
display: block;
}
nav {
height: 9vh;
}
img {
float: none;
}
table {
float: none;
align-self: center;
width: 98%;
}
#info {
display: flex;
flex-direction: column;
align-content: center;
text-align: center;
}
}
/* MOBILE-FRIENDLY MEDIA QUERY */